.itemPage{
    display: inline-flex;
}

.itemText{
    width: 40rem;
}

p{
    text-align: left;
}

#img{
    width: 200rem;
    padding-right: 10rem;
    margin-top: 1.7rem;
    padding-top: 8.5rem;
}